{% extends 'site/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center">Hello, Client</h1>
  <p class="lead" style="text-align:center">Welcome to Studio Management System.</p>
  <hr class="my-4">
  <p style="text-align:center">You can access various features after Login.</p>
  <p class="lead">
  <center>  <a class="btn btn-primary btn-lg" href="clientsignup" role="button" style="background-color:#053740;color:white">Register</a>
    <a class="btn btn-primary btn-lg" href="clientlogin" role="button" style="background-color:#053740;color:white">Login</a></center>
  </p>
</div>

{% endblock content %}
