
<head>
<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">


<link rel="stylesheet" type="text/css"  href="static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
{% comment %} <link rel="stylesheet" type="text/css"  href="static/css/style.css"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="static/css/prettyPhoto.css">
</head>



<nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color:#053740">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="/"  style="color:white"><i class="fa fa-moon-o fa-rotate-90"></i> Studio Management System</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#page-top" class="page-scroll"  style="color:white">Home</a></li>
            <li><a href="/adminclick" class="page-scroll"  style="color:white">Admin</a></li>
            <li><a href="/photoclick" class="page-scroll"  style="color:white">Photographer</a></li>
            <li><a href="/clientclick" class="page-scroll"  style="color:white">Client</a></li>
              </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>


